
body {
  height: 100%;
  margin-left: 5px;
  padding: 0;
  background-color: #F0F0F2;
}

#schoolImg {
   max-width: 50%;
    height: auto;
    width: auto\9;
    /*border: solid black 2px;*/

}

#map {
  width: 50%;
  height: 400px;
}

nav {
  background-color: #41A7CC;
}
