
body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #F0F0F2;
}

#schoolImg {
   max-width: 50%;
    height: auto;
    width: auto\9;

}

#map {
  width: 50%;
   height: 400px;
}

nav {
  background-color: #41A7CC;
}
